.student{
  .orders {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 50px;


    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__create {
      color: white;
      border: none;
      background-color: #ff3d00;
      height: 40px;
      font-family: inherit;
      width: 185px;
      border-radius: 35px;
      font-size: 18px;
    }

    &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #B1B1B1;
    }

    &__item {
      padding: 25px 30px;
      border: 1px solid #B1B1B1;
      border-radius: 25px;
      margin-bottom: 20px;
      cursor: pointer;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 21px;
      line-height: 25px;
      color: #474747;
    }

    &__learning-type {
      color: #474747;
      padding-left: 27px;
      position: relative;
      margin-top: 10px;

      &::before {
        content: url("../../img/place-icon.svg");
        display: block;
        width: 20px;
        height: 22px;
        position: absolute;
        left: 0;
      }
    }
  }
}
