.profile-edit{
  width: 30%;
  margin: 0 auto;

  &__submit{
    width: 100%;
    height: 65px;
    background-color: #ff3d00;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 21px;
    line-height: 25px;
  }
}