.orders{
  margin-bottom: 100px;
  position: relative;

  &__loader{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    border-top: 1px solid blue;
    animation: rotator 1s linear infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}