.responds{
  width: 50%;
  margin: 0 auto;

  &__types{
    display: flex;
  }

  &__type{
    padding: 5px 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    border: 1px solid #D5D5D5;
    border-right: none;
    cursor: pointer;

    &:first-child{
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

    &:last-child{
      border-right: 1px solid #D5D5D5;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }

    &.active{
      background-color: #ff3d00;
      color: white;
    }
  }
}