.filters{
  &__field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__subtitle, &__label{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #1E1E1E;
  }

  &__label{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
  }

  &__checkbox{
    width: 25px;
    height: 25px;
    appearance: none;
    border: 1px solid #1E1E1E;
    border-radius: 5px;

    &:checked{
      background-color: #1E1E1E;
    }
  }

  &__reset{
    width: 70%;
    padding: 7px;
    background-color: #ff3d00;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
  }
}